.vs/TestesDeSoftware/v17/TestStore/0/002.testlog
.vs/TestesDeSoftware/FileContentIndex/d30af482-d26d-484d-ba07-6118ddb48139.vsidx
.vs/TestesDeSoftware/FileContentIndex/c78d4d8d-95f4-4d74-9f21-f028b02d36f6.vsidx
.vs/TestesDeSoftware/DesignTimeBuild/.dtbcache.v2
.vs/TestesDeSoftware/FileContentIndex/c7638a8a-bddb-4bb5-961b-3b156e272846.vsidx
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/FileContentIndex/2e6f1139-9fd3-4f38-91dd-107bcf935a57.vsidx
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/FileContentIndex/24279ee7-88dc-4d3d-9d82-afefc972707b.vsidx
02 - TDD/src/NerdStore.Vendas.Domain/Pedido.cs
.vs/TestesDeSoftware/v17/.suo
.gitignore
.vs/TestesDeSoftware/v17/.suo
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/v17/.suo

.fake
02 - TDD/NerdStore.Vendas.Domain.Tests/PedidoItemTests.cs
.vs/ProjectEvaluation/testesdesoftware.metadata.v5.2
.vs/ProjectEvaluation/testesdesoftware.projects.v5.2
.vs/TestesDeSoftware/DesignTimeBuild/.dtbcache.v2
.vs/TestesDeSoftware/FileContentIndex/44c51c7a-6c4b-402f-84c4-50118c8947ee.vsidx
.vs/TestesDeSoftware/FileContentIndex/73ebbdc9-ae22-48cd-a01d-123b1c641127.vsidx
.vs/TestesDeSoftware/FileContentIndex/152b3e5a-94fd-465a-a70d-f62e41d57f8d.vsidx
.vs/TestesDeSoftware/FileContentIndex/4108bef5-e0ea-46c6-830e-585ce41fda17.vsidx
.vs/TestesDeSoftware/FileContentIndex/e6ed785f-1121-481a-849e-a2c9f9a2f4e4.vsidx
.vs/TestesDeSoftware/v17/.futdcache.v2
.vs/TestesDeSoftware/v17/.suo
.vs/TestesDeSoftware/v17/TestStore/0/003.testlog
.vs/TestesDeSoftware/v17/TestStore/0/002.testlog
.vs/TestesDeSoftware/v17/TestStore/0/testlog.manifest
01 - Testes de Unidade/Demo/obj/project.nuget.cache
01 - Testes de Unidade/Demo/obj/Debug/netcoreapp3.1/Demo.assets.cache
01 - Testes de Unidade/Demo/obj/Debug/netcoreapp3.1/Demo.GeneratedMSBuildEditorConfig.editorconfig
01 - Testes de Unidade/Demo/obj/Demo.csproj.nuget.dgspec.json
01 - Testes de Unidade/Demo.Tests/obj/Demo.Tests.csproj.nuget.dgspec.json
01 - Testes de Unidade/Demo.Tests/obj/project.assets.json
01 - Testes de Unidade/Demo.Tests/obj/project.nuget.cache
01 - Testes de Unidade/Demo.Tests/obj/Debug/netcoreapp3.1/Demo.Tests.assets.cache
01 - Testes de Unidade/Demo.Tests/obj/Debug/netcoreapp3.1/Demo.Tests.csproj.AssemblyReference.cache
01 - Testes de Unidade/Demo.Tests/obj/Debug/netcoreapp3.1/Demo.Tests.GeneratedMSBuildEditorConfig.editorconfig
01 - Testes de Unidade/Features/obj/Features.csproj.nuget.dgspec.json
01 - Testes de Unidade/Features/obj/project.nuget.cache
01 - Testes de Unidade/Features/obj/Debug/netcoreapp3.1/Features.assets.cache
01 - Testes de Unidade/Features/obj/Debug/netcoreapp3.1/Features.GeneratedMSBuildEditorConfig.editorconfig
01 - Testes de Unidade/Features.Tests/obj/Features.Tests.csproj.nuget.dgspec.json
01 - Testes de Unidade/Features.Tests/obj/project.assets.json
01 - Testes de Unidade/Features.Tests/obj/project.nuget.cache
01 - Testes de Unidade/Features.Tests/obj/Debug/netcoreapp3.1/Features.Tests.csproj.AssemblyReference.cache
02 - TDD/NerdStore.Vendas.Domain.Tests/bin/Debug/netcoreapp3.1/NerdStore.Vendas.Domain.Tests.deps.json
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/NerdStore.Vendas.Domain.Tests.csproj.nuget.dgspec.json
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/project.assets.json
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/project.nuget.cache
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/Debug/netcoreapp3.1/NerdStore.Vendas.Domain.Tests.assets.cache
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/Debug/netcoreapp3.1/NerdStore.Vendas.Domain.Tests.csproj.AssemblyReference.cache
02 - TDD/NerdStore.Vendas.Domain.Tests/obj/Debug/netcoreapp3.1/NerdStore.Vendas.Domain.Tests.csproj.CoreCompileInputs.cache
