.vs/TestesDeSoftware/v17/TestStore/0/002.testlog
.vs/TestesDeSoftware/FileContentIndex/d30af482-d26d-484d-ba07-6118ddb48139.vsidx
.vs/TestesDeSoftware/FileContentIndex/c78d4d8d-95f4-4d74-9f21-f028b02d36f6.vsidx
.vs/TestesDeSoftware/DesignTimeBuild/.dtbcache.v2
